certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.1.2
dlib==19.7.0
idna==2.6
matplotlib==2.1.0
networkx==2.0
numpy==1.13.3
olefile==0.44
Pillow==4.3.0
PyJWT==1.5.3
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0

